<% provide(:title, "Why won't @plant.common_name work?") %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        Whatever<!-- @plant.common_name -->
      </h1>
    </section>
  </aside>
</div>