<% provide(:title, @plant.common_name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= @plant.common_name %> (<em><%= @plant.sci_name %></em>) 
      </h1>
    </section>
  </aside>
</div>