<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @light_option.content %>
</p>

<%= link_to 'Edit', edit_light_option_path(@light_option) %> |
<%= link_to 'Back', light_options_path %>
